<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>Descriptive Statistics</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <h2>Descriptive Statistics for {{ region_value }}</h2>
    <div class="container1">
        <br>
        <h2>Highest Education Attainment Yes</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ high_educ_attain_bar_yes }}">
        </div>

        <br>
        <h2>Highest Education Attainment No</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ high_educ_attain_bar_no }}">
        </div>

        <br>
        <h2>Income</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ inc }}">
        </div>

        <br>
        <h2>Husband/Partner's Highest Educational Attainment</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ part_high_educ_attain }}">
        </div>

        <br>
        <h2>Person in-charge of allocating budget of respondent's earnings</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ per_alloc_bud_earn }}">
        </div>

        <br>
        <h2>Number of Respondents Receiving Prenatal Care per Region</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ resp_pre_car_rgn }}">
        </div>

        <br>
        <h2>Household Amenities per Region</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ house_amen_rgn }}">
        </div>

        <br>
        <h2>Assistance Type per Region</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ assist_typ_rgn }}">
        </div>

        <br>
        <h2>Contraceptive Use and Intention</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ cont_use_int }}">
        </div>
    </div>
</body>
</html>