<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descriptive Statistics</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<nav class="navbar">
    <h1>EyeForsee: Infant Mortality</h1>
    <p>A predictive and descriptive poverty app for the Philippines</p>
</nav>
<body>
    <br>
    <br>
    <h2 class ="titles-plot">Descriptive Statistics for {{ region_value }}</h2>
    <div class="container1">
        <br>
        <h2 class ="titles-plot">Highest education attainment for families having positive infant mortality</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ high_educ_attain_bar_yes }}">
        </div>
        <br>
        <br>
        <h2 class ="titles-plot">Top 10 occupation of respondent's having positive infant mortality</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ top_10_occu_respo }}">
        </div>
        <br>
        <br>
        <h2 class ="titles-plot">Husband/partner's top 10 occumaptions having positive infant mortality</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ top_10_occu_part }}">
        </div>
        <br>
        <br>
        <h2 class ="titles-plot">Husband/partner's highest education attainment having positive infant mortality</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ part_high_educ_attain }}">
        </div>
        <br>
        <br>
        <h2 class ="titles-plot">Person in-charge of allocating budget of respondent's earnings</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ per_alloc_bud_earn }}">
        </div>
        <br>
        <br>
        <h2 class ="titles-plot">Number of respondents receiving prenatal care</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ resp_pre_car_rgn }}">
        </div>
        <br>
        <br>
        <h2 class ="titles-plot">Household amenities</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ house_amen_rgn }}">
        </div>
        <br>
        <br>
        <h2 class ="titles-plot">Assistance type</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ assist_typ_rgn }}">
        </div>
        <br>
        <br>
        <h2 class ="titles-plot">Contraceptive use and intention</h2>
        <div class="set">
            <img src="data:image/png;base64, {{ cont_use_int }}">
        </div>
        <br>
        <br>
        <br>
    </div>
</body>
</html>