<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>Descriptive Statistics</title>
	<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>-->
</head>
<body>
    <h1>Descriptive Statistics for {{ region_value }}</h1>
    <h1>Highest Education Attainment Yes</h1>
    <img src="data:image/png;base64, {{ high_educ_attain_bar_yes }}">
    <h1>Highest Education Attainment No</h1>
    <img src="data:image/png;base64, {{ high_educ_attain_bar_no }}">
    <h1>Income</h1>
    <img src="data:image/png;base64, {{ inc }}">
    <h1>Husband/Partner's Highest Educational Attainment</h1>
    <img src="data:image/png;base64, {{ part_high_educ_attain }}">
    <h1>Person in-charge of allocating budget of respondent's earnings</h1>
    <img src="data:image/png;base64, {{ per_alloc_bud_earn }}">
    <h1>Line Graph of Infant Mortality</h1>
    <img src="data:image/png;base64, {{ inf_mort_rate }}">
    <h1>Total Infant Mortality 1998 - 2017</h1>
    <img src="data:image/png;base64, {{ inf_mort_rate_yr }}">
    <h1>Number of Respondents Receiving Prenatal Care per Region</h1>
    <img src="data:image/png;base64, {{ resp_pre_car_rgn }}">
    <h1>Household Amenities per Region</h1>
    <img src="data:image/png;base64, {{ house_amen_rgn }}">
    <h1>Assistance Type per Region</h1>
    <img src="data:image/png;base64, {{ assist_typ_rgn }}">
    <h1>Contraceptive Use and Intention</h1>
    <img src="data:image/png;base64, {{ cont_use_int }}">
</body>
</html>